In [4]:
### JALANKAN CELL INI TERLEBIH DAHULU ###
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.23)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=b6fb5c93fc729c32ad48997a3ab39ade5e579e72f3178f7ebe467f0b862624ae
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd
import pandasql

from pandasql import sqldf
sql_run = lambda q: sqldf(q, globals())

In [6]:
worldcity = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Day 18/worldcities.csv', sep = ';', encoding = 'latin-1')
uscity = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Day 18/uscities.csv', sep = ';', encoding = 'latin-1')
uscity.columns = ['city', 'state_id', 'state_name', 'county_fips', 'county_name',
       'lat', 'lng', 'population', 'density', 'source', 'military',
       'incorporated', 'timezone', 'ranking', 'zips', 'id']

### Tutorial Bagaimana Cara Melakukan Query Menggunakan Pandasql

Contoh: Bagaimana melakukan query untuk mendapatkan kota-kota dari worldcity yang merupakan:
- berada di antara 33 - 40 'latitude'
- berada di antara 100 - 140 'longitude'
- merupakan kota 'primary' pada kolom 'capital'
- memiliki populasi lebih dari 20 juta

In [5]:
worldcity.head()

,city,lat,lng,country,iso2,iso3,capital,population,id
0,Tokyo,35.6897,139.6922,Japan,JP,JPN,primary,37977000.0,1392685764
1,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,primary,34540000.0,1360771077
2,Delhi,28.6600,77.2300,India,IN,IND,admin,29617000.0,1356872604
3,Mumbai,18.9667,72.8333,India,IN,IND,admin,23355000.0,1356226629
4,Manila,14.6000,120.9833,Philippines,PH,PHL,primary,23088000.0,1608618140

In [7]:
query = """
SELECT DISTINCT city FROM worldcity WHERE lat BETWEEN 33 AND 40 AND lng BETWEEN 100 AND 140 AND capital = "primary" AND population > 20000000
"""

sql_run(query)

ObjectNotExecutableError: ignored

### Question 1 Point : 40

Temukan kota-kota dari worldcity yang memenuhi semua kondisi ini:
- populasi kota tersebut melebih populasi dari kota terbanyak penduduknya di negara Filipina. (Maksudnya: misalnya kota X adalah kota di Filipina yang paling banyak penduduknya. Kita mau daftar kota-kota yang jumlah penduduknya lebih besar dari kota X tersebut), DAN
- ada kota di Amerika Serikat (uscity) dengan nama kota yang sama dengan kota-kota pilihan

Keluarkan hanya nama kota-kota yang memenuhi 2 syarat di atas saja, tidak usah kolom-kolom lain.

##### NOTE: Hilangkan duplicate rows.

Lakukan hanya 1x query saja, jangan melakukan lebih dari 1 query

In [9]:
worldcity.head()

,city,lat,lng,country,iso2,iso3,capital,population,id
0,Tokyo,35.6897,139.6922,Japan,JP,JPN,primary,37977000.0,1392685764
1,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,primary,34540000.0,1360771077
2,Delhi,28.6600,77.2300,India,IN,IND,admin,29617000.0,1356872604
3,Mumbai,18.9667,72.8333,India,IN,IND,admin,23355000.0,1356226629
4,Manila,14.6000,120.9833,Philippines,PH,PHL,primary,23088000.0,1608618140

In [11]:
worldcity.head(1)

    city      lat       lng country iso2 iso3  capital  population          id
0  Tokyo  35.6897  139.6922   Japan   JP  JPN  primary  37977000.0  1392685764

In [12]:
query = """
SELECT DISTINCT city
FROM worldcity as w
JOIN uscity as u on w.id=u.id
"""

sql_run(query)

ObjectNotExecutableError: ignored

### Question 2 Point : 60

Temukan kota-kota di Amerika Serikat (uscity) yang memenuhi semua kondisi berikut:
- memiliki nama 'city' yang tidak sama dengan 'state_name', dan juga
- memiliki populasi di atas rata-rata populasi kota-kota di 'county_name' Miami-Dade, dan juga
- terdiri dari dua atau lebih kata (contoh: Los Angeles, New York)

Output yang diharapkan hanya kolom 'city' saja, tidak usah kolom yang lain

Lakukan hanya 1x query saja, jangan melakukan lebih dari 1 query

In [10]:
uscity.head(2)

,city,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220,10715,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
1,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807,3276,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491

In [8]:
query = """
SELECT DISTINCT city
FROM uscity
WHERE city != state_name
"""

sql_run(query)

ObjectNotExecutableError: ignored